$a: #f7e688;
$b: #f2aa76;
$c: #e2716d;
$d: #e47dae;
$e: #b19dd2;
$f: #87a5c6;
$g: #91caba;
$n: #a9aaaa;
$black: #4a5057;

html,
body {
	color: $black;
}

h1 {
	font-weight: 800;
}

h3 {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0;
}

p {
	opacity: 0.8;
}

button {

	&:focus,
	&:visited,
	&:active {
		border: none;
		box-shadow: none;
		outline: none;
	}
}

.note {
	display: inline-flex;
	font-size: 0.92rem;
	height: 2rem;
	width: 2rem;
	line-height: 1.9rem;
	text-align: center;
	border-radius: 2rem;
	//color: #000;
	//border: 0.126rem solid currentColor ;
	font-weight: 600;
	opacity: 1;
	justify-content: center;
	background-color: currentColor;
	text-transform: uppercase;
	box-shadow: inset 0 0 0 0.12rem currentColor;

	b {
		font-weight: inherit;
		text-decoration: none;
		font-variant: normal;
		font-style: normal;
		text-align: center;
		filter: invert(1) saturate(2) brightness(0.5) hue-rotate(180deg);
		opacity: 0.8;
	}

	&.s {
		background: white;

		//box-shadow: inset 0 0 0 0.1rem currentColor, 0 0 0 0.1rem rgba(white, 1);
		b {
			//color: white;
			filter: invert(0) brightness(1) hue-rotate(0);
			opacity: 1;

			&:after {
				content: '#';
				position: relative;
				font-size: 0.8em;
				margin-left: 0em;
				margin-right: 0.0em;
				display: inline-block;
				transform: translateY(-0.162em);
				font-weight: 400;
			}
		}
	}
}

.a {
	color: $a;

	&.s {
		b {
			color: darken($a, 20%);
		}
	}
}

.b {
	color: $b;
}

.c {
	color: $c;
}

.d {
	color: $d;
}

.e {
	color: $e;
}

.f {
	color: $f;
}

.g {
	color: $g;
}

.t {
	color: $n;
}

.penta-on {
	box-shadow: none;
	background: $n;
	//transform: scale(1) !important;
	b {
		opacity: 0;
	}
	&.shape1 {
		color: $c;
		background: $c !important;
	}
	&.shape2 {
		color: $a;
		background: $a !important;
	}
	&.shape3 {
		color: $e;
		background: $e !important;
	}
	&.shape4 {
		color: $b;
		background: $b !important;
	}
	&.shape5 {
		color: $g;
		background: $g !important;
	}
	
	&.shape1.shape2 {
		color: $c;
		background: linear-gradient(135deg, $c 50%, $a 50%) !important;		
	}	
	&.shape2.shape3 {
		color: $a;
		background: linear-gradient(135deg, $a 50%, $e 50%) !important;		
	}
	&.shape3.shape4 {
		color: $e;
		background: linear-gradient(135deg, $e 50%, $b 50%) !important;		
	}
	&.shape4.shape5 {
		color: $b;
		background: linear-gradient(135deg, $b 50%, $g 50%) !important;		
	}
}

ul {
	list-style: none;
	padding-left: 0;
	padding-bottom: 0;
	margin-bottom: 0;

	li {
		list-style: none;
		display: inline-block;
		margin-right: 0.75rem;
		padding-bottom: 1.75rem;
	}
}

button.note {
	border: none;
	outline: none !important;
	position: relative;
	transform: scale(1) translateY(0);
	transition: all 1s cubic-bezier(0, 1, 0.5, 1) 0s;

	&:before {
		will-change: transform;
		content: '';
		display: block;
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		bottom: -10px;
		background: currentColor;
		border-radius: 3rem;
		z-index: -1;
		box-shadow:
			0 1px 6px currentColor,
			0 5px 8px currentColor,
			0 8px 14px currentColor;
		opacity: 0;
		filter: blur(10px);
		transform: scale(0.1, 0) translateY(50px);
		transition: all 1s cubic-bezier(0, 1, 0.5, 1) 0s;
	}

	&.on {
		box-shadow: inset 0 0 0 0.12rem currentColor;
		transform: scale(1.2) translateY(-8px);
		box-shadow:
			inset 0 0 0 0.12rem currentColor,
			0 -1px 2px rgba($n, 0.1),
			0 1px 3px rgba($n, 0.12),
			0 3px 8px rgba($n, 0.13);

		&:before {
			opacity: 0.8;
			transform: scale(0.4, 0.1) translateY(60px);
		}
	}
}

button.clear {
	background: none;
	border: none;
	color: $n;
	font-size: 0.75rem;
	padding: 0;
	margin: 0;
	line-height: 1;
	visibility: hidden;

	&:hover {
		color: darken($n, 20);
		text-decoration: underline;
	}

	&.on {
		visibility: visible;
	}
}

button.group {
	will-change: transform;
	display: inline-flex;
	font-size: 0.82rem;
	text-align: center;
	border-radius: 0.12rem;
	line-height: 2rem;
	font-weight: 500;
	opacity: 1;
	justify-content: center;
	background-color: currentColor;
	//text-transform: uppercase;
	box-shadow: inset 0 0 0 0.12rem currentColor;
	border: none;
	outline: none !important;
	position: relative;
	transform: scale(1) translateY(0);
	transition: all 1s cubic-bezier(0, 1, 0.5, 1) 0s;
	min-width: 60px;
	opacity: 0.8;
	filter: saturate(0.8);
	
	&:hover {
		opacity: 1;
		filter: saturate(1);
	}

	b {
		font-weight: inherit;
		text-decoration: none;
		font-variant: normal;
		font-style: normal;
		text-align: center;
		filter: invert(1) saturate(2) brightness(0.5) hue-rotate(180deg);
		opacity: 0.8;
	}

	&:before {
		will-change: transform;
		content: '';
		display: block;
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		bottom: -10px;
		background: currentColor;
		border-radius: 3rem;
		z-index: -1;
		box-shadow:
			0 1px 6px currentColor,
			0 5px 8px currentColor,
			0 8px 14px currentColor;
		opacity: 0;
		filter: blur(10px);
		transform: scale(0.1, 0) translateY(20px);
		transition: all 1s cubic-bezier(0, 1, 0.5, 1) 0s;
	}

	&.on {
		box-shadow: inset 0 0 0 0.12rem currentColor;
		transform: scale(1) translateY(-8px);
		box-shadow:
			inset 0 0 0 0.12rem currentColor,
			0 -1px 2px rgba($n, 0.1),
			0 1px 3px rgba($n, 0.12),
			0 3px 8px rgba($n, 0.13);
		opacity: 1;
		filter: saturate(1);

		&:before {
			opacity: 0.8;
			transform: scale(0.4, 0.1) translateY(90px);
		}
	}
}

section.fretboard {
	position: relative;

	.grid {
		display: grid;
		margin: 0 auto;
		max-width: 1660px;
		width: 100%;
		grid-template-columns: auto 0.93333fr 0.91333fr 0.89333fr 0.87333fr 0.85333fr 0.83333fr 0.81333fr 0.79333fr 0.77333fr 0.75333fr 0.73333fr 0.71333fr;
		grid-template-rows: repeat(6, auto);
		background: linear-gradient(12deg, rgba($n, 0.2), rgba($n, 0.6));
		justify-items: stretch;
		align-items: stretch;
		grid-auto-flow: column;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		transform: rotate(-6deg);
		transform-origin: center;
		overflow: hidden;
		box-shadow: 0 1px 2px rgba(0, 0, 20, 0.07),
			0 2px 4px rgba(0, 0, 20, 0.07),
			0 4px 8px rgba(0, 0, 20, 0.07),
			0 8px 16px rgba(0, 0, 20, 0.07),
			0 16px 32px rgba(0, 0, 20, 0.07),
			0 32px 64px rgba(0, 0, 20, 0.07);

		.item {
			position: relative;
			width: 100%;

			&:after {
				content: '';
				position: absolute;
				width: 10px;
				background: rgba(white, 1);
				top: 0;
				bottom: 0;
				left: -5px;
				z-index: 0;
				display: block;
			}

			&:before {
				content: '';
				height: 30px;
				width: 30px;
				position: absolute;
				background: $n;
				border-radius: 30px;
				bottom: -15px;
				left: calc(50% - 15px);
				opacity: 0.5;
				display: none;
			}

			&:nth-child(-n+12) {
				&:after {
					display: none;
				}
			}

			&:nth-of-type(21) {
				&:before {
					display: block;
				}
			}

			&:nth-of-type(33) {
				&:before {
					display: block;
				}
			}

			&:nth-of-type(45) {
				&:before {
					display: block;
				}
			}

			&:nth-of-type(57) {
				&:before {
					display: block;
				}
			}

			&:nth-of-type(75) {
				&:before {
					height: 70px;
					width: 10px;
					bottom: -35px;
					left: calc(50% - 5px);
					display: block;
				}
			}

			span {
				transform: scale(0.4);
				margin: auto;
				display: flex;
				text-align: center;
				z-index: 100;
				position: relative;
				will-change: transform, opacity;
				transition: all 0.2s ease;
				opacity: 0;

				b {
					visibility: hidden;
				}
			}

			&:hover {
				cursor: pointer;

				span {
					transform: scale(.88);
					opacity: 1;

					b {
						visibility: visible;
					}
				}
			}

			&.open {
				background: rgba(black, 0.5);
				border-right: 10px solid black;
				text-align: left;
				margin-left: -0px;

				&:after {
					display: none;
				}

				&:before {
					will-change: transform;
					content: '';
					position: absolute;
					height: 0;
					width: 100vw;
					background: black;
					top: 0;
					left: 0;
					z-index: 1;
					display: block;
					opacity: 1;
					pointer-events: none;
					//border: inset 2px dotted darken($n, 30);					
					box-shadow:
						0 1px 1px rgba(black, 0.12),
						0 2px 2px rgba(black, 0.12),
						0 1px 0 1px rgba(black, 0.05);
				}

				&:nth-of-type(6n-5) {
					&:before {
						height: 1px;
						top: calc(50% - 0.5px);
						opacity: 0.6;
					}
				}

				&:nth-of-type(6n-4) {
					&:before {
						height: 1.333px;
						top: calc(50% - 0.8px);
					}
				}

				&:nth-of-type(6n-3) {
					&:before {
						height: 2px;
						top: calc(50% - 1px);
					}
				}

				&:nth-of-type(6n-2) {
					&:before {
						height: 3.3px;
						top: calc(50% - 1.75px);
						opacity: 1;
					}
				}

				&:nth-of-type(6n-1) {
					&:before {
						height: 4px;
						top: calc(50% - 2px);
					}
				}

				&:nth-of-type(6n) {
					&:before {
						height: 5px;
						top: calc(50% - 2.5px);
					}
				}

				span {
					transform: scale(0.5);
					opacity: 1;
					box-shadow: none;

					b {
						color: white;
						visibility: visible;
						filter: none;
						opacity: 1;
					}

					&:not(.chord-on) {
						background: black;
						border-color: black;
					}

					&.o.chord-on {
						transform: scale(0.5);

						b {
							color: currentColor;
							filter: invert(1) saturate(2) brightness(0.5) hue-rotate(180deg);
							opacity: 0.6;
						}
					}
				}
			}

			span.on,
			span.chord-on, 
			span.penta-on,
			span.highlight {
				transform: scale(0.9);
				opacity: 1;
				b {
					visibility: visible;
				}
			}
			span.highlight {
				transform: scale(0.9);
				opacity: 1;
				border-radius: 2px;
				
				b {
					visibility: visible;
				}
			}
			
		}
	}
}

section.chords {
	padding-top: 6rem;
}

footer {
	padding: 200px 0 40px;
	font-size: 0.66rem;
	text-align: left;
	
	ol {
		padding-left: 1rem;
		line-height: 1.8;
	}

	hr {
		max-width: 50px;
		margin-bottom: 3rem;
	}

	p {
		color: lighten($n, 0);
		margin: 0 0 0.3rem 0;
	}

	a {
		color: lighten($e, 0);
		text-decoration: none;
	}
}